<section class="skills" id="skills">
  <div class="container_section">
    <div class="container_title_section">
      <h2>Skills</h2>
    </div>
    <button type="button" class="editExperiencia" routerLink="/newskill" *ngIf="isLogged">
      Nueva Skill
    </button>
    <div class="fila">
      <div class="circle-container" *ngFor="let skillItem of skill">

        <circle-progress [percent]="skillItem.porcentaje" [radius]="100" [space]="-10" [outerStrokeGradient]="true"
          [outerStrokeWidth]="10" [outerStrokeColor]="'#ff3cce'" [outerStrokeGradientStopColor]="'#6b1856'"
          [innerStrokeColor]="'#e7e8ea'" [innerStrokeWidth]="10" [showTitle]="true" [animateTitle]="false"
          [animationDuration]="500" [showUnits]="false" [showBackground]="false" [clockwise]="false"
          [startFromZero]="true" [lazy]="false" [title]="skillItem.nombre + '[' + skillItem.porcentaje+ '%' + ']'">
        </circle-progress>


        <div class="botones" *ngIf="isLogged">
          <button id="edit-cbutton" class="edit-button" routerLink="/editskill/{{ skillItem.id }}"><i
              class="fa-solid fa-pen-to-square"></i></button>
          <button id="edit-cbutton" class="delete-button" (click)="delete(skillItem.id)"><i
              class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>