/*---------------sección proyectos------------------*/

.proyectos {
    padding: 100px 20px;
}
.proyectos .container_section{
    max-width: 1100px;
    margin: auto;
}
.proyectos .fila{
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.proyectos .fila .col{
  width: 50%;
  padding: 0px 20px;
  }

/* proyecto 1*/

/* Estilos para el carrusel */
.carrusel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
  }
  
  .img_effect {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
    margin-right: 8px;
    display: inline-block;
  }
  
  .img_effect img {
    width: 100%;
    height: auto;
    border: 2px solid var(--color-1); 
    border-radius: 8px;
  }
  
  /* Estilos adicionales para personalizar el aspecto */
  .carrusel::-webkit-scrollbar {
    display: none;
  }
  
  .carrusel::-moz-scrollbar {
    display: none;
  }
  
  .carrusel::-ms-scrollbar {
    display: none;
  }
  


.proyecto .col .description_proyecto{
    text-align: right;
    margin-left: -100px;
    display: block;
}
.description_proyecto .title{
    color: var(--color-1);
    letter-spacing: 0.1em;
}
.description_proyecto .nombre{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
}
.description_proyecto .information{
background-color:var(--color-1);
padding: 10px;
border-radius: 5px;
margin-bottom: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container_programming_languages ul{
    display:flex;
    justify-content: right;
    list-style: none;
}
.container_programming_languages ul li{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 15px;
    margin: 5px 5px
}
.proyecto .container_links ul{
    display:flex;
    justify-content: right;
    list-style: none;
}
.proyecto .container_links ul li a{
    margin: 5px 5px;
    color: var(--color-3);
    text-decoration: none;
    transition: 0.5s;
    font-size: 25px;
}
.proyecto .container_links ul li a:hover{
color: var(--color-1);
}

/* Estilos para el carrusel */
.carrusel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .img_effect {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    margin-right: 8px;
  }
  
  .img_effect img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Estilos adicionales para personalizar el aspecto */
  .carrusel::-webkit-scrollbar {
    display: none;
  }
  
  .carrusel::-moz-scrollbar {
    display: none;
  }
  
  .carrusel::-ms-scrollbar {
    display: none;
  }
  

/*---------------sección responsive------------------*/

@media screen and (max-width:850px){
    .proyectos .proyecto .fila{
        display:block;
    }
    .proyectos .proyecto .col{
        width:100%;
    }
    .proyectos .proyecto .img_effect{
        width: 100%;
        margin: auto;
        display: block;
        text-align: center; 
        
    }
    .proyectos .proyecto .description_proyecto{
        width: 100%;
        margin: 0;
        display:block;
    }
} 