<section class="proyectos" id="proyectos">
    <div class="container_section">
        <div class="container_title_section">
            <h2>Proyectos</h2>
        </div>

        <!-- proyecto 1 -->

        <div class="proyecto">
            <button type="button" class="editExperiencia" routerLink="/newproyecto" *ngIf="isLogged">
                Nuevo Proyecto
            </button>
            <div class="fila" *ngFor="let proyectos of proyectos">
                <div class="col">
                    <div class="carrusel" #carrusel>
                        <div class="img_effect">
                            <img src="{{proyectos.imagen}}">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="description_proyecto">
                        <p class="title">Proyecto Destacado</p>
                        <h3 class="nombre">{{proyectos.nombre}}</h3>
                        <p class="information">{{proyectos.descripcion}}</p>
                        <div class="container_programming_languages">
                            <ul>
                                <li>
                                    {{proyectos.lenguajes}}
                                </li>
                            </ul>
                        </div>
                        <div class="container_links">
                            <ul>
                                <li>
                                    <a href="{{proyectos.linkRepositorio}}"><i class="fa-brands fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="botones" *ngIf="isLogged">
                            <button id="edit-cbutton" class="edit-button"
                                routerLink="/editproyectos/{{proyectos.id}}"><i
                                    class="fa-solid fa-pen-to-square"></i></button>
                            <button id="edit-cbutton" class="delete-button" (click)="delete(proyectos.id)"><i
                                    class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>