<section class="skills" id="skills">
    <div class="container_section">
        <div class="container_title_section">
            <h2>Skills</h2> 
        </div>
        <div class="fila">

            <!-- Technical Skill-->

            <div class="col">
                <h3>Technical Skills</h3>
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Photoshop</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>PHP</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>70%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Angular</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>50%</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profesional Skill-->

            <div class="col">
                <h3>Profesional Skills</h3>
                <div class="skill">
                    <span>Comunicación</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Trabajo en Equipo</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Dedicación</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>65%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Autonomía</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>70%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Liderazgo</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>