<section class="curriculum" id="curriculum">
    <div class="container_section">
        <div class="container_title_section">
            <h2>Curriculum</h2>
        </div>
        <div class="fila">

            <!-- educación -->

            <div class="col izquierda">
                <h3>Educación</h3>
                <div class="item izq">
                    <div class="logo_institucion">
                        <img src="assets\images\logo_comercio_1.png" alt="insititución">
                    </div>
                    <h4>Bachiller en Ciencias Naturales</h4>
                    <span class="lugar">Escuela N°16 "Prof. Gerardo Victorín"</span>
                    <span class="fecha">2009 - 2015</span>
                    <p>El título de bachiller en ciencias naturales de la escuela secundaria, certifica y reconoce la finalización de un programa de estudios en el cual he desarrollado habilidades y conocimientos fundamentales en el ámbito de las ciencias naturales.</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <div class="logo_institucion">
                        <img src="assets\images\logo_utn.png" alt="insititución">
                    </div>
                    <h4>Ingeniería Civil</h4>
                    <span class="lugar">Universidad Tecnológica Nacional</span>
                    <span class="fecha">2016 - No finalizado</span>
                    <p>Luego de haber cursado dos años de la carrera de Ingeniería Civil, he adquirido conocimientos avanzados de matemáticas, álgebra y física aplicada. Lo que me ha proporcionado una base sólida para continuar estudiando carreras afines.</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <div class="logo_institucion">
                        <img src="assets\images\logo_isdica.png" alt="insititución">
                    </div>
                    <h4>Profesorado de Educación Secundaria en Física</h4>
                    <span class="lugar">ISDICA Concordia</span>
                    <span class="fecha">2019 - 2022</span>
                    <p>Este título representa una formación sólida en Física y Pedagogía que me permite contribuir a la educación de las futuras generaciones y al desarrollo de la ciencia y la tecnología en la comunidad. Fuí galardonado con el mejor promedio 9,35.</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <div class="logo_institucion">
                        <img src="assets\images\logo_uner.png" alt="insititución">
                    </div>
                    <h4>Tecnicatura Universitaria en Desarrollo Web</h4>
                    <span class="lugar">Universidad Nacional de Entre Ríos</span>
                    <span class="fecha">2023 - Actualmente</span>
                    <p>La formación en ésta área me permite desarrollar aplicaciones de carácter general y
                        aplicaciones destinadas a usos específicos, con las
                        competencias necesarias para seleccionar y aplicar herramientas informáticas orientadas
                        al desarrollo y diseño de software de aplicaciones o software como servicio.
                    </p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
            </div>

            <!-- experiencia -->

            <div class="col derecha">
                <h3>Experiencia</h3>
                <div class="item der">
                    <div class="logo_institucion">
                        <img src="assets\images\logo_losgalgos.png" alt="insititución">
                    </div>
                    <h4>Administrativo/ Atención al Público</h4>
                    <span class="lugar">Asociación Atlética “Los Galgos”</span>
                    <span class="fecha">2016 - 2022</span>
                    <p>Como administrativo, he sido responsable de registrar y controlar las
                        ventas de la empresa, y coordinar grupos para cumplir objetivos y
                        resolver problemas. En atención al público, he trabajado en ventas
                        directas y asegurado la satisfacción del cliente. Esta experiencia me
                        ha permitido desarrollar habilidades en manejo de información,
                        coordinación de equipos y atención al cliente.
                    </p>
                </div>
                <div class="item der">
                    <div class="logo_institucion">
                        <img src="assets\images\logo_costaciencia.png" alt="insititución">
                    </div>
                    <h4>Guía y Coordinación</h4>
                    <span class="lugar">Museo Interactivo “Costa Ciencia”</span>
                    <span class="fecha">2022</span>
                    <p>Como guía, he brindado experiencias educativas únicas a los
                        visitantes del museo y organizado charlas y capacitaciones. Como
                        coordinador, lideré proyectos y equipos para exposiciones y eventos,
                        manejé redes sociales y aseguré una comunicación efectiva.
                        Desarrollé habilidades para trabajar en equipo y lograr objetivos en
                        beneficio del museo y sus visitantes.
                    </p>
                </div>
                <div class="item der">
                    <div class="logo_institucion">
                        <img src="assets\images\logo_cge.png" alt="insititución">
                    </div>
                    <h4>Profesor</h4>
                    <span class="lugar">Particular</span>
                    <span class="fecha">2018 - Actualmente</span>
                    <p>Como profesor particular, brindé clases personalizadas a estudiantes
                        de nivel secundario y terciario de manera virtual y presencial. También
                        enseñé en escuelas secundarias con enfoques innovadores y
                        creativos, desarrollando estrategias didácticas efectivas para permitir
                        el aprendizaje significativo de los estudiantes.</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <div class="logo_institucion">
                        <img src="assets\images\LOGO DL WEB DEVELOPER.png" alt="insititución">
                    </div>
                    <h4>Full Stack Developer</h4>
                    <span class="lugar">Freelancer</span>
                    <span class="fecha">2023</span>
                    <p>Como desarrollador web fullstack, he adquirido habilidades en múltiples lenguajes de programación y tecnologías para crear aplicaciones web completas y funcionales. Uno de mis proyectos más importantes ha sido el desarrollo de mi propio portfolio web personal, utilizando tecnologías web comunes como HTML, CSS, JavaScript y PHP. El sitio web resultante muestra mis habilidades y logros como desarrollador web.</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>