<!----------------------HEADER--------------------------------->

<app-header></app-header>

<!-----------------------MAIN--------------------------------->

<main id="main" class="main">
  
  <!------INICIO------->

  <app-inicio></app-inicio>

  <!-----ACERCA DE----->

  <app-acerca-de></app-acerca-de>

  <!-----CURRICULUM------>

  <app-curriculum></app-curriculum>

  <!-------SKILLS------->

  <app-skills></app-skills>

   <!-------PROYECTOS------->

   <app-proyectos></app-proyectos>

    <!-------CONTACTO------->

  <app-contacto></app-contacto>

</main>

<!-- ------------------FOOTER--------------------------------->

<app-footer></app-footer>

