<footer class="footer">
    <a href="#inicio" class="arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
        <a href="https://www.facebook.com/diego.lalanda.5/" class="facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/diegol_4526/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/diego-lalanda-9576b21b8/" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>

</footer>