<section class="acercaDe" id="acercaDe">
    <div class="container_section">
        <div class="container_title_section">
            <h2>A Cerca De</h2>
        </div>
        <button type="button" class="editExperiencia" routerLink="editacercade/1" *ngIf="isLogged">
            Editar Sección
        </button>
        <div class="text_section">
            <p class="texto_acercaDe"> <span>¡Hola! Mi nombre es {{persona?.nombre}} {{persona?.apellido}}.</span>
                {{persona?.descripcion}}
            </p>
        </div>

        <div class="fila">

            <!-- datos personales -->

            <div class="col">
                <h3>Datos Personales</h3>
                <div class="container_datos_personales">
                    <ul>
                        <li><strong>Cumpleaños</strong>
                            <div class="fecha_cumple">
                                29/11/1997
                            </div>
                        </li>
                        <li><strong>Teléfono</strong>
                            <div class="num_telefono">
                                +54 345 6023111
                            </div>
                        </li>
                        <li><strong>Dirección</strong>
                            <div class="direccion">
                                17 San Luis, Concorida, E.R, Argentina.
                            </div>
                        </li>
                        <li><strong>Email</strong>
                            <div class="email">
                                guaio_2014@hotmail.com
                            </div>
                        </li>
                        <li><strong>Cargo</strong>
                            <div class="cargo">
                                Freelancer
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- intereses -->

            <div class="col">
                <h3>Intereses</h3>
                <div class="container_intereses">
                    <div class="interes">
                        <i class="fa-solid fa-gamepad"></i>
                        <span>Juegos</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-headphones"></i>
                        <span>Música</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-futbol"></i>
                        <span>Fútbol</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-flask"></i>
                        <span>Ciencia</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-chalkboard-user"></i>
                        <span>Docencia</span>
                    </div>
                </div>
            </div>
        </div>
        <button>
            <a href="https://drive.google.com/file/d/1QXn3i8Em6IB5Xx4bhe0Ongj8jRHJUqHx/view?usp=sharing" download>
                Descargar CV <i class="fa-solid fa-download"></i></a>
            <span class="overlay"></span>
        </button>
    </div>
</section>