<section class="contacto" id="contacto">
    <div class="container_section">
        <div class="container_title_section">
            <h2>Contacto</h2> 
        </div>
        <div class="fila">
            <div class="col">
                <!-- formulario-->
                <form>
                    <input type="text" name="nombre" placeholder="Tu Nombre">
                    <input type="text" name="telefono" placeholder="Número Telefónico">
                    <input type="text" name="correo" placeholder="Dirección de Correo">
                    <input type="text" name="tema" placeholder="Tema">
                    <textarea name="mensaje" id=""  placeholder="Mensaje"></textarea>
                    <button type="submit" name="enviar">Enviar Mensaje <i class="fa-solid fa-paper-plane"></i>
                    <div class="overlay"></div>
                    </button>
                </form>
            </div>
        

             <!-- mapa-->
            <div class="col">
                <a href="https://goo.gl/maps/j4PpzF2EPC5NGp1G8"><img src="assets\images\ubicacion.png" alt="ubicación" title="ubicación"></a>
                <div class="info">
                    <ul>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            San Luis 17, Concordia E.R
                        </li>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            +54 345 6023111
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            guaio_2014@hotmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>