<section class="inicio" id="inicio">

    <div class="container_banner">
        <img src="assets\images\banner_image.jpg" id="profile-img" alt="profile_img" title="profile_img">
    </div>

    <div class="container_inicio">

        <div class="container_img">
            <img src="assets\images\profile_image.jpg" id="profile-img" alt="profile_img" title="profile_img">
        </div>

        <!-- info general -->
        <h1>Diego Lalanda</h1>
        <h2>Programador Web</h2>
        <h2>Full-Stack</h2>
        <h2>Junior</h2>
        
        <!-- redes -->
        <div class="redes">
            <a href="https://www.facebook.com/diego.lalanda.5/" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/diegol_4526/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/diego-lalanda-9576b21b8/" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>

</section>
